{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}
<div class = "mx-5 mt-2">
   <h3 style="text-align: center;">Your Total Net Worth: ${{ format_numbers(current_user.get_net_worth()) }}</h3>
</div>
<div class="row" style="margin-top:20px; margin-left:10px; margin-right:10px">
   <div class="col-8">
      <h2>Available Stocks on the Market</h2>
      <p>Click on one of the stocks to start buying</p>
      <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <th scope="col">Stock</th>
               <th scope="col">Company</th>
               <th scope="col">Price</th>
               <th scope="col">Updated Date</th>
               <th scope="col">Options</th>
            </tr>
         </thead>
         <tbody>
            {% for stock in stocks %}
            {% include 'includes/stocks_modals.html' %}
            <tr>
               <td>{{ stock.symbol }}</td>
               <td>{{ stock.name }}</td>
               <td>${{ stock.prettier_buy_unit_price }}</td>
               <td>{{ stock.timestamp }}</td>
               <td>
                  <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ stock.id }}">More Info</button>
                  <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ stock.id }}">Purchase this Stock</button>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="col-4">
      <h2>Owned Stocks</h2>
      <p>Click on one of the stocks to start selling</p>
      <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <th scope="col">Stock</th>
               <th scope="col">Quantity</th>
               <th scope="col">Price</th>
               <th scope="col">Options</th>
            </tr>
         </thead>
         <tbody>
            {% for stock in owned_stocks.get_all_owned_stocks() %}
            {% with stock_object = owned_stocks.get_symbol_stock_price_object(stock) %}
            {% include 'includes/owned_stocks_modals.html' %}
            <tr>
               <td>{{ stock_object.symbol }}</td>
               <td>{{ owned_stocks.get_prettier_quantity(stock_object.symbol) }}</td>
               <td>${{ stock_object.prettier_sell_unit_price }}</td>
               <td>
                  <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-SellConfirm-{{ stock_object.id }}">Sell this Stock</button>
               </td>
            </tr>
            {% endwith %}
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}