{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}
{% block content %}
<body class="text-center">
   <div class="container">
      <form method="POST" class="form-register" style="color:white">
         {{ register_form.hidden_tag() }}
         <img class="mb-4 mt-4 image-thumbnail" src="static/images/social_extract_logo.png" alt="" style="height:128px;">
         <h1 class="h3 mb-3 font-weight-normal">
            Please Create your Account
         </h1>
         <br>
         {{ register_form.username.label() }}
         {{ register_form.username(class="form-control", placeholder="User Name") }}
         {{ register_form.email_address.label() }}
         {{ register_form.email_address(class="form-control", placeholder="Email Address") }}
         {{ register_form.company.label() }}
         {{ register_form.company(class="form-control", placeholder="Company Name") }}
         {{ register_form.password1.label() }}
         {{ register_form.password1(class="form-control", placeholder="Password") }}
         {{ register_form.password2.label() }}
         {{ register_form.password2(class="form-control", placeholder="Confirm Password") }}
         <br>
         <div class="checkbox mb-3">
            <h6>Already have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
         </div>
         {{ register_form.submit(class="btn btn-lg btn-block btn-primary") }}
      </form>
   </div>
</body>
{% endblock %}