{% extends 'base.html' %}
{% block title %}
About the Free Stock Market
{% endblock %}
{% block content %}
<div class="container position-relative my-3 overflow-hidden bg-dark" style="color:white">
   <div class="col p-3">
      <img class="my-4 image-thumbnail" src="static/images/social_extract_logo.png" alt=""
         style="height:128px; display:block; margin-left:auto; margin-right:auto;">
      <h2 class="font-weight-normal">About the Free Stock Market</h2>
      <dl class="my-4">
         <dt></dt>
         <dd>
            The Free Stock Market is a virtual stock brokerage that simulates the real stock market.
            You can practice trading and holding real stocks and cryptocurrencies with their true prices.
            Accurate prices are updated every hour from the stock exchange so you can see your investments grow in
            real time. You never have to risk any of your real money on the marketplace, everything is done with
            virtual currency. So go ahead and invest in your favorite companies and test your predictions to see
            just how much money you can make!<br><br>
            The stock market is created by me: Filip Stojanovic. You can find me here: <br>
            <div class="pt-3">
               <a class="ml-3" href="https://github.com/FilipStojanovicski" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a>
               <a class="ml-3" href="https://www.linkedin.com/in/filip-stojanovic-166382120" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
         </dd>
         <dt class="mt-4 mb-2">Creating an Account to Get Started</dt>
         <dd>To start using the Free Stock market you first need to register an account. Click Get Started
            below or click Register to create an account. You do not need to provide email verification to
            register.
         </dd>
         <dt class="mt-4 mb-2">Buying and Selling Stocks</dt>
         <dd>Once you are registered you can go to the market by clicking Market. Everyone starts with a balance of
            100,000 USD in virtual currency when they register. A table of all of the stocks available to purchase
            is found on the left. To purchase a stock, click purchase and enter the quantity of the stock you want
            to purchase. All of your owned stocks can be found on the right table. To sell an owned stock click
            sell and enter the quantity of the stock you want to sell.
         </dd>
         <dt class="mt-4 mb-2">Investing and Making Money</dt>
         <dd>The value of all of your owned stocks can rise and fall according to the value of the stock on the
            market. Stock prices are updated every hour according to the latest market price. Your total net worth
            is shown on the top of the Market Page beside Net Worth. Your net worth is the total value of all of
            your owned stocks and available currency.
         </dd>
         <dt class="mt-4 mb-2">Compare your Net Worth on the Leaderboard</dt>
         <dd>You can compare your Net Worth with the Net Worth of other Users by clicking on the Leaderboard.
            Your ranking is displayed at the top above the ranking of the Top 20 Users with their Net Worth.
         </dd>
      </dl>
      <p class="lead font-weight-normal">Start purchasing and selling stocks by clicking the link below</p>
      <a class="btn btn-primary" href="{{ url_for('market_page') }}">Get Started</a>
      <dl>
         <dt class = "mt-4 mb-2">Credits</dt>
         <dd>I have published the full Source Code for the Free Stock Market
            <a style="color:light-blue" href="https://github.com/FilipStojanovicski/free_stock_market">Available here.</a><br><br>
            A large part of this project was created using the Flask Series from JimShapedCoding. His Flask Series
            was immensely helpful and well made. You can check out his
            <a style="color:light-blue" href="https://github.com/jimdevops19/FlaskSeries">Source Code here.</a>
         </dd>
      </dl>
   </div>
</div>
{% endblock %}